# Draft analysis 

---

Group name:

---

## Introduction

*This section includes an introduction to the project motivation, data, and research question. Include a data dictionary*

## Setup

In [2]:
import pandas as pd
import altair as alt
import numpy as np

## Data

## Import data

In [3]:
df_bevoelkerung = pd.read_csv('../references/csv_Bevoelkerung/Zensus11_Datensatz_Bevoelkerung.csv', delimiter=";")
df_bevoelkerung

/var/folders/k5/1ngg2lrs0p51m_z5s1q72vv00000gn/T/ipykernel_86681/1612270253.py:1: DtypeWarning: Columns (0,106,113,125,126,129,131,134,142,143,156,157,158,165,166,169,176,177,181,182,185,186,190,192,202,207,221) have mixed types. Specify dtype option on import or set low_memory=False.
  df_bevoelkerung = pd.read_csv('../references/csv_Bevoelkerung/Zensus11_Datensatz_Bevoelkerung.csv', delimiter=";")

,AGS_12,RS_Land,RS_RB_NUTS2,RS_Kreis,RS_VB,RS_Gem,Name,Reg_Hier,AEWZ,DEM_1.1,...,BIL_4.9,BIL_4.10,BIL_5.1,BIL_5.2,BIL_5.3,BIL_5.4,BIL_5.5,BIL_5.6,BIL_5.7,BIL_5.8
0,0,0,NaN,NaN,NaN,NaN,Deutschland,Bund,80219695,80219695,...,5531480.0,14023530.0,68909110.0,18383890.0,31804990.0,7321610.0,1032940,3985640.0,5471080,908970
1,1,1,NaN,NaN,NaN,NaN,Schleswig-Holstein,Land,2800119,2800119,...,188900.0,432970.0,2399480.0,636280.0,1171190.0,251310.0,31110,126590.0,157620,25380
2,10010000000,1,0.0,1.0,0.0,0.0,"Flensburg, Stadt",Gemeinde,82258,82258,...,6200.0,15260.0,71730.0,22450.0,32210.0,6330.0,/,3370.0,6210,/
3,1001,1,0.0,1.0,NaN,NaN,"Flensburg, Stadt",Stadtkreis/kreisfreie Stadt/Landkreis,82258,82258,...,6200.0,15260.0,71730.0,22450.0,32210.0,6330.0,/,3370.0,6210,/
4,10020000000,1,0.0,2.0,0.0,0.0,"Kiel, Landeshauptstadt",Gemeinde,235782,235782,...,16290.0,59140.0,207060.0,65000.0,82000.0,23290.0,2660,10690.0,19320,4100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12539,"1,60775E+11",16,0.0,77.0,5009.0,51.0,Wildenbörten,Gemeinde,307,307,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12540,160775050,16,0.0,77.0,5050.0,NaN,"Gößnitz, Stadt",Gemeindeverband,5463,5463,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12541,"1,60775E+11",16,0.0,77.0,5050.0,12.0,"Gößnitz, Stadt",Gemeinde,3724,3724,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12542,"1,60775E+11",16,0.0,77.0,5050.0,17.0,Heyersdorf,Gemeinde,138,139,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12543,"1,60775E+11",16,0.0,77.0,5050.0,39.0,Ponitz,Gemeinde,1601,1600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df = pd.read_csv("Zensus_11_DF.csv", delimiter= ";")
df

C:\Users\NGE02\AppData\Local\Temp\ipykernel_25660\123091236.py:1: DtypeWarning: Columns (0,15,16,17,18,19,20,48,54,55,56,57,58,59,60,63,78,93,94,95,96,97,98,120,121,122,125,126,129,131,134,142,143,156,157,158,165,166,169,176,177,189,202,207,221) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Zensus_11_DF.csv", delimiter= ";")

,AGS_12,RS_Land,RS_RB_NUTS2,RS_Kreis,RS_VB,RS_Gem,Name,Reg_Hier,AEWZ,DEM_1.1,...,BIL_4.9,BIL_4.10,BIL_5.1,BIL_5.2,BIL_5.3,BIL_5.4,BIL_5.5,BIL_5.6,BIL_5.7,BIL_5.8
0,0,0,NaN,NaN,NaN,NaN,Deutschland,Bund,80219695,80219695,...,5531480.0,14023530.0,68909110.0,18383890.0,31804990.0,7321610.0,1032940,3985640.0,5471080,908970
1,1,1,NaN,NaN,NaN,NaN,Schleswig-Holstein,Land,2800119,2800119,...,188900.0,432970.0,2399480.0,636280.0,1171190.0,251310.0,31110,126590.0,157620,25380
2,10010000000,1,0.0,1.0,0.0,0.0,"Flensburg, Stadt",Gemeinde,82258,82258,...,6200.0,15260.0,71730.0,22450.0,32210.0,6330.0,/,3370.0,6210,/
3,1001,1,0.0,1.0,NaN,NaN,"Flensburg, Stadt",Stadtkreis/kreisfreie Stadt/Landkreis,82258,82258,...,6200.0,15260.0,71730.0,22450.0,32210.0,6330.0,/,3370.0,6210,/
4,10020000000,1,0.0,2.0,0.0,0.0,"Kiel, Landeshauptstadt",Gemeinde,235782,235782,...,16290.0,59140.0,207060.0,65000.0,82000.0,23290.0,2660,10690.0,19320,4100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12539,"1,60775E+11",16,0.0,77.0,5009.0,51.0,Wildenbörten,Gemeinde,307,307,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12540,160775050,16,0.0,77.0,5050.0,NaN,"Gößnitz, Stadt",Gemeindeverband,5463,5463,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12541,"1,60775E+11",16,0.0,77.0,5050.0,12.0,"Gößnitz, Stadt",Gemeinde,3724,3724,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12542,"1,60775E+11",16,0.0,77.0,5050.0,17.0,Heyersdorf,Gemeinde,138,139,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12543,"1,60775E+11",16,0.0,77.0,5050.0,39.0,Ponitz,Gemeinde,1601,1600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Data structure

In [3]:
df = pd.read_csv("Zensus_11_DF.csv", delimiter= ";")
df.describe()

C:\Users\NGE02\AppData\Local\Temp\ipykernel_25660\1519748454.py:1: DtypeWarning: Columns (0,15,16,17,18,19,20,48,54,55,56,57,58,59,60,63,78,93,94,95,96,97,98,120,121,122,125,126,129,131,134,142,143,156,157,158,165,166,169,176,177,189,202,207,221) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Zensus_11_DF.csv", delimiter= ";")

,RS_Land,RS_RB_NUTS2,RS_Kreis,RS_VB,RS_Gem,AEWZ,DEM_1.1,DEM_1.2,DEM_1.3,DEM_2.1,...,BIL_4.5,BIL_4.6,BIL_4.7,BIL_4.9,BIL_4.10,BIL_5.1,BIL_5.2,BIL_5.3,BIL_5.4,BIL_5.6
count,12544.000000,12527.000000,12501.000000,12089.000000,11339.000000,1.254400e+04,1.254400e+04,1.254400e+04,1.254400e+04,1.254400e+04,...,2.187000e+03,2.187000e+03,2.187000e+03,2.187000e+03,2.187000e+03,2.187000e+03,2.187000e+03,2.187000e+03,2.187000e+03,2.187000e+03
mean,8.265226,2.118943,52.186065,3867.359997,92.486198,3.086224e+04,3.086224e+04,1.506373e+04,1.579747e+04,3.086224e+04,...,5.033947e+04,4.016035e+04,3.735222e+04,1.146847e+04,2.923417e+04,1.415152e+05,3.816730e+04,6.481332e+04,1.489005e+04,8.176269e+03
std,4.315163,2.172226,19.266604,2274.056801,99.728329,7.675691e+05,7.675691e+05,3.745034e+05,3.930667e+05,7.675691e+05,...,5.633306e+05,4.498742e+05,4.190595e+05,1.273104e+05,3.221477e+05,1.573632e+06,4.232944e+05,7.242804e+05,1.663865e+05,9.070247e+04
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.100000e+01,9.000000e+00,-2.100000e+02,-1.860000e+02,9.000000e+00,...,1.270000e+03,1.820000e+03,1.660000e+03,3.500000e+02,6.100000e+02,5.760000e+03,1.020000e+03,2.410000e+03,5.600000e+02,1.300000e+02
25%,6.000000,0.000000,35.000000,310.000000,23.000000,6.977500e+02,6.970000e+02,3.517500e+02,3.460000e+02,6.970000e+02,...,4.620000e+03,3.455000e+03,3.175000e+03,9.000000e+02,1.790000e+03,1.159000e+04,2.975000e+03,5.760000e+03,1.295000e+03,6.200000e+02
50%,8.000000,1.000000,55.000000,5006.000000,63.000000,2.084000e+03,2.083000e+03,1.040000e+03,1.044500e+03,2.083000e+03,...,7.140000e+03,5.710000e+03,5.310000e+03,1.480000e+03,3.070000e+03,1.829000e+04,4.850000e+03,9.030000e+03,2.060000e+03,1.050000e+03
75%,12.000000,3.000000,69.000000,5309.000000,128.500000,7.123750e+03,7.123750e+03,3.532000e+03,3.593750e+03,7.123750e+03,...,1.948000e+04,1.551500e+04,1.442000e+04,4.445000e+03,9.380000e+03,5.573500e+04,1.419500e+04,2.588000e+04,5.610000e+03,3.025000e+03
max,16.000000,9.000000,91.000000,9501.000000,710.000000,8.021970e+07,8.021970e+07,3.914594e+07,4.107375e+07,8.021970e+07,...,2.451335e+07,1.990805e+07,1.856856e+07,5.531480e+06,1.402353e+07,6.890911e+07,1.838389e+07,3.180499e+07,7.321610e+06,3.985640e+06

### Data corrections

Data Correction erst nach Splitting der relevanten DFs? 
*Spalte MIG_2.2 z.B. "/"*

### Variable lists

In [4]:
from pandas import DataFrame
def left_align(df: DataFrame):
    left_aligned_df = df.style.set_properties(**{'text-align': 'left'})
    left_aligned_df = left_aligned_df.set_table_styles(
        [dict(selector='th', props=[('text-align', 'left')])]
    )
    return left_aligned_df

In [5]:
df_predictor_variables = pd.read_csv("Predictor Variables Definition.csv", delimiter= ";")

In [6]:
left_align(df_predictor_variables)

### Data splitting

In [7]:
df_migration = df[['AGS_12','Name','MIG_1.1','MIG_1.2','MIG_1.3','MIG_1.4','MIG_1.5','MIG_1.6','MIG_1.7','MIG_1.8','MIG_1.9','MIG_1.10','MIG_1.11','MIG_2.1','MIG_2.2','MIG_2.3','MIG_2.4','MIG_2.5','MIG_2.6','MIG_2.7','MIG_2.8','MIG_3.1','MIG_3.2','MIG_3.3','MIG_3.4','MIG_3.5']]
df_migration

,AGS_12,Name,MIG_1.1,MIG_1.2,MIG_1.3,MIG_1.4,MIG_1.5,MIG_1.6,MIG_1.7,MIG_1.8,...,MIG_2.4,MIG_2.5,MIG_2.6,MIG_2.7,MIG_2.8,MIG_3.1,MIG_3.2,MIG_3.3,MIG_3.4,MIG_3.5
0,0,Deutschland,79652360.0,64354900.0,15297460.0,6080870,4537620,1543250,9216590.0,5104810,...,1277210,1680040,3159270,2270610,475260,15297460.0,5777880,5468440,4034860,16260
1,1,Schleswig-Holstein,2781010.0,2446600.0,334410.0,115870,91990,23880,218540.0,123970,...,24320,30210,71990,58080,14150,334410.0,123430,111560,99090,/
2,10010000000,"Flensburg, Stadt",81780.0,68730.0,13050.0,5110,4290,820,7940.0,4340,...,750,1270,2740,2110,1370,13050.0,5850,3760,3420,/
3,1001,"Flensburg, Stadt",81780.0,68730.0,13050.0,5110,4290,820,7940.0,4340,...,750,1270,2740,2110,1370,13050.0,5850,3760,3420,/
4,10020000000,"Kiel, Landeshauptstadt",234550.0,190220.0,44330.0,15950,13100,2850,28380.0,15200,...,3380,3120,8320,10920,1360,44330.0,12450,17530,14320,/
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12539,"1,60775E+11",Wildenbörten,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12540,160775050,"Gößnitz, Stadt",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12541,"1,60775E+11","Gößnitz, Stadt",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12542,"1,60775E+11",Heyersdorf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12543,"1,60775E+11",Ponitz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_migration.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12544 entries, 0 to 12543
Data columns (total 26 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   AGS_12    12544 non-null  object
 1   Name      12544 non-null  object
 2   MIG_1.1   2187 non-null   float64
 3   MIG_1.2   2187 non-null   float64
 4   MIG_1.3   2187 non-null   object
 5   MIG_1.4   2187 non-null   object
 6   MIG_1.5   2187 non-null   object
 7   MIG_1.6   2187 non-null   object
 8   MIG_1.7   2187 non-null   object
 9   MIG_1.8   2187 non-null   object
 10  MIG_1.9   2187 non-null   object
 11  MIG_1.10  2187 non-null   object
 12  MIG_1.11  2187 non-null   object
 13  MIG_2.1   2187 non-null   object
 14  MIG_2.2   2187 non-null   object
 15  MIG_2.3   2187 non-null   object
 16  MIG_2.4   2187 non-null   object
 17  MIG_2.5   2187 non-null   object
 18  MIG_2.6   2187 non-null   object
 19  MIG_2.7   2187 non-null   object
 20  MIG_2.8   2187 non-null   object
 21  MIG_3.1   2187 non-null   object
 22  MIG_3.2   2187 non-null   object
 23  MIG_3.3   2187 non-null   object
 24  MIG_3.4   2187 non-null   object
 25  MIG_3.5   2187 non-null   object
dtypes: float64(2), object(24)
memory usage: 2.5+ MB

### Data Correction Migration Variable

In [17]:
df_migration_correct = pd.DataFrame(df_migration)
df_migration_correct = df_migration.fillna(0)
df_migration_correct

#df_mig_correct_ = df_migration.replace(['/',""],['NaN',""])
#df_mig_correct_

,AGS_12,Name,MIG_1.1,MIG_1.2,MIG_1.3,MIG_1.4,MIG_1.5,MIG_1.6,MIG_1.7,MIG_1.8,...,MIG_2.4,MIG_2.5,MIG_2.6,MIG_2.7,MIG_2.8,MIG_3.1,MIG_3.2,MIG_3.3,MIG_3.4,MIG_3.5
0,0,Deutschland,79652360.0,64354900.0,15297460.0,6080870,4537620,1543250,9216590.0,5104810,...,1277210,1680040,3159270,2270610,475260,15297460.0,5777880,5468440,4034860,16260
1,1,Schleswig-Holstein,2781010.0,2446600.0,334410.0,115870,91990,23880,218540.0,123970,...,24320,30210,71990,58080,14150,334410.0,123430,111560,99090,/
2,10010000000,"Flensburg, Stadt",81780.0,68730.0,13050.0,5110,4290,820,7940.0,4340,...,750,1270,2740,2110,1370,13050.0,5850,3760,3420,/
3,1001,"Flensburg, Stadt",81780.0,68730.0,13050.0,5110,4290,820,7940.0,4340,...,750,1270,2740,2110,1370,13050.0,5850,3760,3420,/
4,10020000000,"Kiel, Landeshauptstadt",234550.0,190220.0,44330.0,15950,13100,2850,28380.0,15200,...,3380,3120,8320,10920,1360,44330.0,12450,17530,14320,/
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12539,"1,60775E+11",Wildenbörten,0.0,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12540,160775050,"Gößnitz, Stadt",0.0,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12541,"1,60775E+11","Gößnitz, Stadt",0.0,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12542,"1,60775E+11",Heyersdorf,0.0,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12543,"1,60775E+11",Ponitz,0.0,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
df_migration_correct2 = df_migration_correct.replace(['/',None])
df_migration_correct2

,AGS_12,Name,MIG_1.1,MIG_1.2,MIG_1.3,MIG_1.4,MIG_1.5,MIG_1.6,MIG_1.7,MIG_1.8,...,MIG_2.4,MIG_2.5,MIG_2.6,MIG_2.7,MIG_2.8,MIG_3.1,MIG_3.2,MIG_3.3,MIG_3.4,MIG_3.5
0,0,Deutschland,79652360.0,64354900.0,15297460.0,6080870,4537620,1543250,9216590.0,5104810,...,1277210,1680040,3159270,2270610,475260,15297460.0,5777880,5468440,4034860,16260
1,1,Schleswig-Holstein,2781010.0,2446600.0,334410.0,115870,91990,23880,218540.0,123970,...,24320,30210,71990,58080,14150,334410.0,123430,111560,99090,16260
2,10010000000,"Flensburg, Stadt",81780.0,68730.0,13050.0,5110,4290,820,7940.0,4340,...,750,1270,2740,2110,1370,13050.0,5850,3760,3420,16260
3,1001,"Flensburg, Stadt",81780.0,68730.0,13050.0,5110,4290,820,7940.0,4340,...,750,1270,2740,2110,1370,13050.0,5850,3760,3420,16260
4,10020000000,"Kiel, Landeshauptstadt",234550.0,190220.0,44330.0,15950,13100,2850,28380.0,15200,...,3380,3120,8320,10920,1360,44330.0,12450,17530,14320,16260
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12539,"1,60775E+11",Wildenbörten,0.0,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12540,160775050,"Gößnitz, Stadt",0.0,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12541,"1,60775E+11","Gößnitz, Stadt",0.0,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12542,"1,60775E+11",Heyersdorf,0.0,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12543,"1,60775E+11",Ponitz,0.0,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
df_migration_correct2['MIG_1.4'] = df_migration_correct2['MIG_1.4'].astype(float)

In [12]:
df_migration_correct2['Migrationsquote']  = df_migration_correct2['MIG_1.4'].div(df_migration_correct2['MIG_1.1'].values)*100
df_migration_correct2

,AGS_12,Name,MIG_1.1,MIG_1.2,MIG_1.3,MIG_1.4,MIG_1.5,MIG_1.6,MIG_1.7,MIG_1.8,...,MIG_2.5,MIG_2.6,MIG_2.7,MIG_2.8,MIG_3.1,MIG_3.2,MIG_3.3,MIG_3.4,MIG_3.5,Migrationsquote
0,0,Deutschland,79652360.0,64354900.0,15297460.0,6080870.0,4537620,1543250,9216590.0,5104810,...,1680040,3159270,2270610,475260,15297460.0,5777880,5468440,4034860,16260,7.634262
1,1,Schleswig-Holstein,2781010.0,2446600.0,334410.0,115870.0,91990,23880,218540.0,123970,...,30210,71990,58080,14150,334410.0,123430,111560,99090,16260,4.166472
2,10010000000,"Flensburg, Stadt",81780.0,68730.0,13050.0,5110.0,4290,820,7940.0,4340,...,1270,2740,2110,1370,13050.0,5850,3760,3420,16260,6.248472
3,1001,"Flensburg, Stadt",81780.0,68730.0,13050.0,5110.0,4290,820,7940.0,4340,...,1270,2740,2110,1370,13050.0,5850,3760,3420,16260,6.248472
4,10020000000,"Kiel, Landeshauptstadt",234550.0,190220.0,44330.0,15950.0,13100,2850,28380.0,15200,...,3120,8320,10920,1360,44330.0,12450,17530,14320,16260,6.800256
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12539,"1,60775E+11",Wildenbörten,0.0,0.0,0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
12540,160775050,"Gößnitz, Stadt",0.0,0.0,0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
12541,"1,60775E+11","Gößnitz, Stadt",0.0,0.0,0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
12542,"1,60775E+11",Heyersdorf,0.0,0.0,0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
12543,"1,60775E+11",Ponitz,0.0,0.0,0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN

## Analysis

### Descriptive statistics

### Exploratory data analysis

### Relationships

## Model

### Select model

### Training and validation

### Fit model

### Evaluation on test set

### Save model


Save your model in the folder `models/`. Use a meaningful name and a timestamp.

## Conclusions